h1{
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    text-align: center;
}
body{

        width: 100wh;
        height: 90vh;
        color: #fff;
        background: linear-gradient(-45deg, rgb(196, 231, 245), rgb(99, 214, 243), #23A6D5, rgb(73, 134, 248));
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
    
}
img{

}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
ul {
  font-family: 'Ubuntu', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.6;
  
  transition-duration: 0.3s;

}
ul:hover{
  opacity: 1;
  transition-duration: 0.3s;
  
}

li {
  float: left;
}

li a {
  display: inline;
  color: #666;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: white;
  border-bottom: 2px solid white;
  text-decoration: underline;
  transition-duration: 0.3s;
  /*background-color:rgb(53, 174, 255);*/
}

li a.active {
  color: white;
  border-bottom: 2px solid white;
  /*border-bottom-color: white;*/
 /* background-color: rgb(53, 174, 255);
*/}
@media all and (max-width: 400px){
.flexbox{
  display: flex;
  flex-wrap: wrap;
}

  .flexbox > li {
  flex-basis: 100%;
}
}

.grid{
  max-width: 950px;
  margin: 0 auto;
  display: grid ;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  align-items: center;
  font-family: Ubuntu;
  color: white; 
  /*background-color: black;*/
  padding: 15px;
}

.grid > div {
  opacity: 0.6;
  border: 10px solid;
  background-color:black;
  padding: 40px;
  font-size: 30px;
  text-align: center;

}
.gitem1{
  
  grid-column: 1/ span 2;
}
