a{
  float: left;
  display: block;
  color: aliceblue;
  text-align: justify;
  padding: 14px 16px;
  transition-duration: 0.3s;
}
a:hover{
 transition-duration: 0.3s;
 color:purple;
}

header{
  background-image: url("plkp.jpg");
  background-size: cover;
  display: flex;
  min-height: 200px;
  height: 600px;
  filter: brightness(50%);
}

.header-links{
  display: inline-flex;
  position: absolute;
  color: white;
  gap: 30px;
  right: 10px;
  bottom: 30px;
}

h1{
  color: aliceblue;
  margin-top: 50px;
  text-align: center; 
  text-align: center;
  position: sticky;
  top: 20px;
  align-self: flex-start; /*needed for "sticky" to work inside flex*/
}
.title{
  display: block;
  text-align: left;
  font-family: sans-serif;
  font-size: 2rem;
  color: aliceblue;
  position: sticky;
  background: rgb(7,1,105);
  background: linear-gradient(90deg, rgba(7,1,105,1) 0%, rgba(4,84,187,1) 44%, rgba(192,110,250,1) 100%);
  margin: 0;
  padding: 0;
}

.content{
  display: grid;
  grid-template-columns: 200px auto;
  color: white;
  background-color: #002b36;
  gap: 40px;
  font-size: 1.2rem;
  
}
.content img{
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
}
.skills{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-template-rows: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.s1{
  color: white;
  background-color: #002b36;
}
.work{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  background-color: #002b36;
}
.work img{
 width: 100%;
 max-height: 200px; 
 display: block;
 object-fit: contain;
}
.work img:hover{
  transition-duration: 0.3s;
  filter: brightness(50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}